#borad{
    border: 1px solid black;
}
.row{
    padding: 0.5rem;
}
.col-md{
    border: 1px solid brown;
    height: 50px;
    width: 50px;
    margin: 0.5rem;
    background-color: aqua;
    text-align: center;
}